<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../static/styles/style.css">
    <link rel="stylesheet" href="../../../static/styles/meetingPhoneStyle.css">

    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>

    <title>WalletWatcher</title>
</head>
<body>
    <main>
        <section>
            <h1>Sorry</h1>
            <h1>Wallet Watcher is available for desktop only</h1>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>