@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --darkButton: #5b6e90;
    --darkButtonHover: #4e607e;
    --lightButton: #99BAED;
    --lightButtonHover: #84a1cc;
}

.empty-button {
    border: 0;
    background: 0;
}

.dark-button {
    background: 0;
    border: 0.13em solid var(--darkButton);
    border-radius: 0.8em;
}

.light-button {
    border: 0.13em solid var(--darkButton);
    border-radius: 0.8em;
    background-color: var(--lightButton);
}

.cartoon-button {
    cursor: pointer;
    font-size: 0.9em;
    color: var(--darkButton);
    height: 2.7em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding: 0.6em;
}

.cartoon-button:hover {
    border-color: var(--darkButtonHover);
    color: var(--darkButtonHover);
}

.light-button:hover {
    background-color: var(--lightButtonHover);
}